* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #8c9aa8;
  font-size: 18px;
  font-weight: 600;
  background-color: #6b6775;
  max-width: 1200px;
  margin: 0 auto;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#logo {
  max-width: 150px;
}

#menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

#menu a {
  color: #2C3E50;
  text-decoration: none;
  font-weight: bolder;
}

#menu a:hover {
  color: #ffffff;
}

section {
  justify-content: center;
  padding: 40px 20px;
}

#boasvindas {
  display: flex;
  align-items: center;
}

.imagem {
  max-width: 400px;
  width: 100%;
  margin:40px 50px;
  padding: 10px;
  border-radius: 2px;
}

.imagem img {
  width: 100%;
  height: auto;
}




#sobre {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: 90%;
  max-width: 900px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  width: 100%; 
  text-align: left;
}

h2, h3 {
  text-align: left;
}


.card img {
  max-height: 100px;
  width: auto;
}


#projetos {
  align-items: center;
}

.projetos-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato-info {
  text-align: center;
}
.rodape {
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}