* {
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #d2d7dc;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(110,124,142,255);
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: hidden;
  }


  
  