
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #606272;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }
  
  #particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .particle {
    position: absolute;
    border-radius: 50%;
    animation: particleAnimation var(--duration) linear infinite;
  }
  
  @keyframes particleAnimation {
    0% { transform: translateY(0); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(-50vh); opacity: 0; }
  }
  .navbar{
    display: flex;
    background-color: #606272;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .navbar a {
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.rodape{
  text-align: center;
  background-color: rgb(14, 29, 110);
  color: white;
  border-radius: 90px;
}
.img{

}
 
  