* {
  margin: 0;
  padding: 0;
}

body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #d2d7dc;
  font-size: 18px;
  font-weight: 600;
  background-color: #6b6775;
  max-width: 1300px;
  margin: 0 auto;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

#menu a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bolder;
}

#menu a:hover {
  color: #8981a4;
}

section {
  justify-content: center;
  padding: 40px 20px;
}

#boasvindas {
  display: flex;
  align-items: center;
}

.imagem {
  max-width: 400px;
  width: 100%;
  margin:40px 50px;
  padding: 10px;
  border-radius: 2px;
}

.imagem img {
  width: 100%;
  height: auto;
  margin: auto;
}

.imagem1 img{
  width: 100%;
  height: auto;
  margin-left: 250px;
  max-width: 50%;;
}

#sobre {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: 90%;
  max-width: 800px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  width: 100%; 
  text-align: left;
}

.card-container1 {
  display: grid;
  width: 90%;
  max-width: 800px;
  gap: 30px;
}

.card1 {
  background: white;
  padding: 30px;
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  width: 100%; 
  text-align: center;
}

.card-container2 {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  max-width: 15000px;
  gap: 30px;
  align-items: center;
}

.card2 {
  background: white;
  padding: 70px;
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  width: 50%; 
  text-align: center;
}

.card-container3 {
  display: grid;
  width: 90%;
  max-width: 15000px;
  gap: 30px;
}

.card3 {
  background: white;
  padding: 70px;
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  width: 50%; 
  text-align: center;
}

h2, h3 {
  text-align: left;
  color: black;
}
h1{
  text-align: left;
  color: black;
  margin-left: 50px;
}
p{
  color: rgb(93, 90, 90);
}
span{
  color: rgb(71, 36, 126);
  text-align: right;
}


.card img {
  max-height: 100px;
  width: auto;
}

.rodape {
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.text{
  color:black;
}
.font{
  background-color: rgb(182, 191, 207);
  border-radius: 40px;
  max-width: 2900px;
}